@import "null";
@import "fonts";

body {
    font-family: 'Gilroy';
    
    background: #2b3834;
}
[class*="__container"] {
    width: fit-content;
    border: 1px solid rgb(136, 255, 0);
    justify-content: left;
    // overflow: hidden;
    // overflow-y: hidden;
  
}

@import "header";
